<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lordjancso TranslationBundle index</title>

    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>domain</th>
                {% for managedLocale in managedLocales %}
                    <th>
                        {{ managedLocale }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for translationDomain in translationDomains %}
                <tr>
                    <td>
                        {{ translationDomain.name }}
                    </td>
                    {% for managedLocale in managedLocales %}
                        <td>
                            {{ managedLocale }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
